<!-- wp:template-part {"slug":"header","theme":"ripcurl","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:heading {"level":1} -->
    <h1>Page Not Found</h1>
    <!-- /wp:heading -->
  
    <!-- wp:paragraph -->
    <p>Sorry, the page you are looking for doesn’t exist. Try a search or go back to the homepage.</p>
    <!-- /wp:paragraph -->
  
    <!-- wp:search {"label":"Search"} /-->
  </div>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","theme":"ripcurl","tagName":"footer"} /-->
  