<!-- wp:template-part {"slug":"header","theme":"ripcurl","tagName":"header"} /-->

<!-- wp:columns -->
  <!-- wp:column {"width":"70%"} -->
  <div class="wp-block-column" style="flex-basis:70%">
    <!-- wp:post-title /-->
    <!-- wp:post-content /-->
  </div>
<!-- /wp:column -->

<!-- wp:column {"width":"30%"} -->
  <div class="wp-block-column" style="flex-basis:30%">
    <!-- wp:template-part {"slug":"sidebar","theme":"ripcurl"} /-->
  </div>
<!-- /wp:column -->
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"ripcurl","tagName":"footer"} /-->